.map{
    height: 300px;
    width: 100%;
}
ul{
    list-style-type: none;
}

img.facebook {
  width: 40px;
  height: 40px;
}

img.email {
  width: 40px;
  height: 30px;
}

li.bold {
  font-weight: 900;
  color: #9C274A;
}
