.map{
    height: 300px;
    width: 100%;
}

.bottom-align{
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  width: 0px;
}

h1{
    color: #1EAEDB;
    font-weight:bold;
  }

 h2{
    color: #1EAEDB;
}

h4{
    color: #FF8F1A;
}
