---
layout: default
---
{% for post in site.categories.offers | limit 1 %}
<div class="row">
  <div class="u-full-width" align="center">
    <h4> {{ post.title }} </h4>
    {{ post.content }}
  </div>
</div>
{% endfor %}
<div class="row">
  <div class="one-half column">
    <div class="row">
      <div class="u-full-width">
        {% for post in site.categories.welcome %}
          <h2> {{ post.title }} </h2>
          {{ post.content }}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="one-half column">
    <object type="text/html" class="map" class data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1152.2395574090572!2d-5.808297071412743!3d54.71878686818761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4861a193e18f3301%3A0xc773d0febb5f45b7!2s2+North+Rd%2C+Carrickfergus+BT38+8LW!5e0!3m2!1sen!2suk!4v1455998280419output=embed">
    </object>
  </div>
</div>
