---
layout: default
---
      <div class="medium-8 columns">
        {% for post in site.categories.mainpage reversed %}
        <div class="blog-post">
          {% if post.map %}
          <object type="text/html" class="map" data="{{ post.map }}">
          </object>
          {% endif %}
          <div class="row" id="content">
            {% if post.image %}
            <div class="medium-4 columns">
              <img src="{{ post.image }}"/>
            </div>
            <div class="medium-8 columns">
            {% else %}
            <div class="medium-12 columns">
            {% endif %}
              {{ post.content }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
